<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sesiones de Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/usuarios.css}">
</head>
<body>
     <header class="navbar">
      <nav class="nav-container">
        <div class="nav-logo">
          <img src="/img/logo-trilce.png" alt="Logo Trilce" />
        </div>
        <ul class="nav-links">
          <li><a th:href="@{/}">Inicio</a></li>
          <li><a th:href="@{/usuarios}">Usuarios</a></li>
          <li><a th:href="@{/sesiones}">Sesiones</a></li>
          <li><a th:href="@{/actividades}">Actividades</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
        <h1>Sesiones de Usuarios</h1>

        <table>
            <thead>
                <tr>
                    <th>ID Sesión</th>
                    <th>Fecha y Hora</th>
                    <th>Nombre del Usuario</th>
                    <th>Correo</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sp : ${sesiones}">
                    <td th:text="${sp.sesion.id}"></td>
                    <td th:text="${#temporals.format(sp.sesion.fechaHora, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${sp.usuario.nombres}"></td>
                    <td th:text="${sp.usuario.correo}"></td>
                    <td th:text="${sp.usuario.dni}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
